

    
    
  
    
    
    @media screen and (max-width: 677px) and (min-width: 500px) { 
    
    .extra{
        grid-gap: 17rem;
    }
    .whatsapp{
    margin-left: 15px;
    }
    
    .nav{
        display:flex;
        flex-direction:column;
        
        
    }
    
    #obi{
        display: block;
    }
    
    
    .logo{
        display:flex;
    
    }
    
    .logo div{
        flex:1;
    }
    .logo .mm {
        display:flex;
        justify-content:flex-end;
    }
    
    
    .lost{
        display: none;
        /*display: flex;
        flex-direction:column;*/
    }
    
    
    .text{
        height: 24rem;
    }
    
    
    .txt{
    
        font-size: 20px;
    }
    
    
    .butt{
        height: 35px;
        width: 180px;
        top: 20rem;
        margin-left: 3rem;
        font-size: 12px;
        line-height: 10px;
    }
    
    
    .butt button{
        height: 20px;
        width: 20px;
        margin-left: 22px;
        line-height: 1px;
    }
    
    
    .transparent{
        height: 28rem;
        width: 100vw;
    }
    
    
    .slide{
        height: 28rem;
        width: 100vw;
    }
    
    .carousel-nav{
        bottom: 5rem;
    }

    .carousel-button-indicator{
        border: 3px solid rgba(0, 0, 0, .15);
        border-radius: 50%;
        height: 17px;
        width: 15px;
    }

    .carousel-button-indicator.current{
        border: 3px solid white;
    }
    
    .next{
        display: grid;
        grid-template-columns:  1fr;
        margin-top: 0;
    }
    
    .big{
        width:170px;
        height:170px;
    
    }

    
    .line{
        max-width: 25rem;  
}

    .footer span{
        font-size: small;
}

    }