  
    
    @media screen and (max-width: 768px){
    
        .extra{
            grid-gap: 28rem;
        }
        
        
        .nav{
            
            display:flex;
            flex-direction:column;	
        }
        
        
        #obi{
            display: block;
        }
        
        .logo{
            display:flex;
        
        }
        
        .logo div{
            flex:1;
        }
        
        
        .logo .mm {
            display:flex;
            justify-content:flex-end;
        }
        
        
        .lost{
            display: none;
            /*display: flex;
            flex-direction:column;*/
        }
        
        
        .text{
            height: 30rem;
        }
        
        
        .txtx{
            margin-left: 50px;
        
        }
        
        .txt{
        
            margin-left: 50px;
            font-size: 20px;
        }
        
        
        .butt{
            height: 35px;
            width: 190px;
            top: 20rem;
            margin-left: 3rem;
            font-size: 14px;
            line-height: 8px;
        }
        
        
        .butt button{
            height: 27px;
            width: 27px;
            margin-left: 13px;
            line-height: 1px;
        }
        
        
        .transparent{
            height: 30rem;
            width: 100vw;
        }
        
        
        .slide{
            height: 30rem;
            width: 100vw;
        }
        
        .carousel-nav{
            bottom: 4rem;
	        left: 2rem;
        }
        
        .next{
            height: 100rem;
            display: grid;
            grid-template-columns:  1fr;
            font-size: 15px;
        }
        
        .next img{
            height: 500px;
            width: 500px;
        }
        .big{
            width:240px;
            height:240px;
        
        }
        
        
        .next2{
            height: 700px;
            display: flex;
            flex-direction: column;
            margin-top: 770px;
        }
        
        #one{
            margin-top: 0;
        }
        
        #one img{
            width: 100vw;
            height: 400px;
        }
        
        #tree{
            display: none;
        }
        
        .next3{
            height: 700px;
            display: flex;
            flex-direction: column-reverse;
        }
        
        
        .next4{
            height: 250px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        
        .hot img{
         margin-left: 40px;
        } 
        .hot{
        font-size: 16px;
        } 
        
        .testimonials{
            display: flex;
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .dolor{
            display: none;
        }
        
        

    
        .foot li{
            font-size: 13px;
        }

        .foot button{
            margin-left: 3rem;
        }

       .line{
            max-width: 40rem;  
        } 
        
        .footer span{
            font-size: small;
    }

        }
        

    @media screen and (max-width: 678px){
        .foot{
            height: 40rem;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 0;
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
        }
    
        .tee{
            grid-column: 1/4;
    
        }
    
        .vee{
            grid-column: 4/-1;
    
        }
    
        .ree{
            grid-column: 1/4;
    
        }
    
        .bee{
            grid-column: 1/6;
        }
        
    
        .line{
            max-width: 30rem;  
    }

    .footer span{
        font-size: small;
}

    }