
*{
	font-family: 'Ubuntu', sans-serif;
}
body{
	margin: 0;
	padding: 0;
}

.extra{
	top: 85vh;
	position: fixed;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 67em;
	z-index: 300;
}

.whatsapp{
	height: 60px;
	width: 60px;
	border-radius: 50px;
	background: #0B930E;
	margin-left: 75rem;
}


.whatsapp img{
	margin-left: 15px;
	margin-top: 15px;
	cursor: pointer;
}

.wrap{
	font-family: sans-serif;
	width: 98.4vw;
}


.nav{
	height: 90px;
	display: grid;
	grid-template-columns: 40% 60%;
	background: white;
}

.logo{
	color: skyblue;
 	line-height: 70px;
	padding-left: 20px;
}
.search{
    margin-top: 1.5rem;
    margin-left: 13rem;
}
select{
	padding: 3px;
    margin-left: 0;
    height: 35px;
    width: 50px;
    outline: none;
    background-color: gray;
    border: none;
}
input{
    margin-left: 0;
    height: 35px;
    width: 25rem;
    outline: none;
    background-color: lightgray;
    border: none;
}

.hold{
	height: 53rem;

}

.text{
	height: 53rem;
	position: absolute;
	z-index: 100;
}


.txtx{
	color:white; 
	margin-top:14rem; 
	margin-left:30rem;
    
}

.txt{
	color: white;
	font-size: 50px;
	margin-left: 30rem;
}

/* The element to apply the animation to */
.butt{
	height: 60px;
	width: 240px;
	border-radius: 50px;
	border: 2.5px solid red;
	position: absolute;
	line-height: 30px;
	z-index: 210;
	cursor: pointer;
	top: 37rem;
	margin-left: 35rem;
	display: flex;
    animation-name: ada;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;    
    animation-timing-function: ease;
}

.butt:hover{
	background: rgb(181, 13, 13 );
}

.butt p{
	margin-left: 30px;
}

.butt button{
	background: red;
	color: white;
	border: none;
	padding: 13px;
	border-radius: 40px;
	float: right;
	margin: 10px;
}

.butt button:hover{
	background: white;
	color: red;
}
@keyframes ada {
    0%   {background-color:red; left:0px;}
    25%  {background-color:rgb(29, 15, 56); left:200px;}
    50%  {background-color:rgb(2, 45, 45); left:300px;}
    75%  {background-color:rgb(7, 121, 121); left:400px;}
    100% {background-color:red; left:0px;}
}

.transparent{
	height: 53rem;
	width: 98.4vw;
	position: absolute;
	background: rgba(46, 107, 176, 0.6);
}


.slide{
	height: 53rem;
	box-sizing: border-box;
	
}

.slide img{
	height: 100%;
	width: 100%;
	
}

.carousel-nav{
	display: flex;
	justify-content: center;
	padding: 10px 0;
	position: absolute;
	bottom: -17rem;
	left: 8rem;
}

.carousel-button-indicator{
	border: 5px solid rgba(0, 0, 0, .15);
	border-radius: 50%;
	height: 22px;
	width: 20px;
	background: rgba(0, 0, 0, .4);
	margin: 0 5px;
}

.carousel-button-indicator.current{
	background: transparent;
	border: 5px solid white;
}
.font{
    margin-top: 2.8rem;
    margin-bottom: 4rem;
    font-size: 2.7rem;
    text-align: center;
}
div.blur{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	box-sizing: border-box;
	margin-left: 5rem;
	margin-right: 5rem;
}
div.tag{
	position: absolute;
	padding: 5px;
	border-radius: 10px;
	background-color: #F23E31;
	top: 0;
	right: 0;
	font-size: 10px;
	color: #fff;
}
div.img {
    margin: 5px;
    margin-top: 0.5rem;
    border: 1px solid lightgray;
    float: left;
    width: 270px;
	position: relative;
}

/*div.img:hover {
}*/

div.img img {
    width: 100%;
    height: 200px;
    display: block;
}

div.desc {
    padding: 15px;
    text-align: center;
	font-size: small;
}
div.desc a{
	color:gray;
	text-decoration: none;
	cursor: pointer;
}
div.desc a span{
	color: green;
	font-size: 12px;
}

.gallery{
	position: relative;
}
.gallery .title h1{
	font-size:36px;
	margin-top:30px;
	text-align: center;
}
.gallery .gallery-items .item.hide{
	display: none;
}
.gallery .gallery-items .item.show{
	display: block;
	animation: show .5s ease;
}
@keyframes show{
    0%{
    	opacity:0;
    	transform: scale(0.9);
    }
    100%{
    	opacity:1;
    	transform: scale(1);
    }
}

.gallery .pagination{
	margin-top: 100px;
	height: 60%;
	padding:15px;
	transform: translateX(163%);

}
.gallery .pagination div{
	display: inline-block;
	margin:0 10px;
}
.gallery .pagination .page{
	color:gray;
}
.gallery .pagination .prev,.gallery .pagination .next{
 color:#000;
 border:1px solid #000;
 font-size:15px;
 padding:7px 15px;
 cursor: pointer;
}

.gallery .pagination .prev.disabled,
.gallery .pagination .next.disabled{
	border-color: gray;
	color:gray;
	pointer-events: none;
}
.clearfix:after {
	height: 100px;
    content: "";
    display: table;
    clear: both;
}
.down{
	height: 300px;
	background-color: #174E75;
	padding-top: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	color: #eee;
}
.down h2{
	text-align: center;
}
.down table{
	border-spacing: 10px
}
.down td{
	border: 1px solid #fff;
	padding: 15px;
	font-size: small;
	line-height: 19px;
}
.down td h3{
	font-size: 18px;
}
footer{
	display: flex;
	background-color: #000;
	color: #fff;
	font-size: small;
	height: 80px;
	line-height: 80px;
	padding-left: 40px;
}
footer .media-icons{
	z-index: 888;
	position: absolute;
	right: 30px;
	display: flex;
	flex-direction: row;
	margin-right: 25em;
	transition: 0.5s ease;
  }
  
  footer .media-icons a{
	color: #fff;
	font-size: 1.4em;
	transition: 0.3s ease;
	margin-right: 2em;
}
  
  footer .media-icons a:hover{
	transform: scale(1.3);
	color: lightsalmon;
}
  